.active{
    color: orangered;
    
    height: 80px;
    width: 80px;
    margin: .5rem;
    
}

.inactive{
    color: black;
    height: 80px;
    width: 80px;
    margin: .5rem;
}


.star-rating{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 255, 181);

}
